[user]
	email = mihai.rotaru@gmx.com
	name = Mihai Rotaru
[push]
	default = matching
	followTags = true
[alias]
	ignore = !git update-index --assume-unchanged
	unignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep ^[a-z]
[hub]
	protocol = ssh
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
